.centered {
  width: 75%;
  max-width: 750px;
  margin: 0 auto;
}

#main {
  background-color: #4abdac;
  font-family: Roboto, sans-serif;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 15pt;
}
#survey-form {
  background-color: #dfdce3;
  border-radius: 5px;
}
.form-field {
  width: 300px;
}
button {
  background-color: #F7B733;
}
